<div>
    <h2>User Component {{title}}</h2>

    <h2>
        <ng-content select="header"></ng-content>
    </h2>
    <p>
        <ng-content select =".main-class"></ng-content>
    </p>


Child Control :
 <input type="text" (keyup)="onKeyUp(childControl.value)" #childControl>


    <div class="container">
    <ul class="list-unstyled">
    <li class="well" *ngFor="let user of users index as i, even as isEven, odd as isOdd">
        {{i}} Is Even ? {{isEven}}
        <img [src]="user.image" class="image-response img-circle"/>
        <button (click)="moreInfo(user)" class="btn btn-primary btn-sm">More Info</button>
    <h1 class ="text-center text-primary">
        {{user.firstname}} {{user.lastname}}
    </h1>
    <p *ngIf="user.isworking; else ElseTemplate"> Income : <span [innerHTML]="user.income"></span></p>
    <em>Total Votes : {{user.vote}}</em>
    <input type="number"
    [value]="user.vote"
    (change)="user.vote=$event.target.value">

    <input type="number" [(ngModel)]="user.vote">
    

<ng-template #ElseTemplate>
    {{user.firstname}} is not working
</ng-template>
</li>
</ul>

</div>
</div>
    
<div [ngSwitch]="'1'">
    <div *ngSwitchCase="'1'"> Switch case Output 1</div>
    <div *ngSwitchDefault>Default case</div>
    </div>

<h2>
    <ng-content select="footer"></ng-content>
</h2>